<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- HighCharts script source-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>

    <!-- CDN Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CDN JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- CDN JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- Link para o arquivo CSS -->
    <link rel="stylesheet" type="text/css" href="screens.css">

    <title>Gerenciamento financeiro | Transferências</title>
</head>

<body>
  	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    	<a class="navbar-brand" href="#">UniversalBank</a>
      	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        	<span class="navbar-toggler-icon"></span>
      	</button>
      	<div class="collapse navbar-collapse" style="line-height:30px; height:30px;" id="navbarSupportedContent">
        	<ul class="navbar-nav mr-auto pl-5">
            <!-- PARA ADICIONAR MAIS BOTÕES AO NAVBAR --> 
                <li class="nav-item">
                    <a class="nav-link active" href="myAccountScreen.html">HOME<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="dashCardsScreen.html">Cartão</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Transferências<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="dashGastosScreen.html">Gastos Gerais</a>
                </li>
            </ul>
            <button id="exit" class="btn btn-outline-light btn-exit">Sair</button>
      	</div>
    </nav>

    <div class="heading">
        [Nome], confira suas transferências feitas durante o ano.
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div id="container4"></div>
                <p style="color: rgb(17, 17, 71); font-size:1px;">.</p>
                <button id="inverted" class="btn btn-outline-light">Inverted</button>
                <button id="plain" class="btn btn-outline-light">Plain</button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var chart = Highcharts.chart('container4', {
            title: {
                text: 'Média de gastos mensais com transferências'
            },

            chart: {
                stacking: 'normal',
                borderRadius: 15
            },

            xAxis: {
                categories: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
            },

            plotOptions: {
                column: {
                    stacking: 'normal',
                    borderRadius: 15
                }
            },

            series: [{
                name: 'R$',
                type: 'column',
                colorByPoint: true,
                data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4],
                showInLegend: false
            }]
            });

            $('#plain').click(function() {
            chart.update({
                chart: {
                    inverted: false
                },
                subtitle: {
                    text: 'Vertical'
                }
            });
            });

            $('#inverted').click(function () {
            chart.update({
                chart: {
                    inverted: true
                },
                subtitle: {
                    text: 'Horizontal'
                }
            });            
        });                       
    </script>
    
</body>
</html>