<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- CSS doc link -->
  <link rel="stylesheet" type="text/css" href="/screens.css">

  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <!-- Google font para o UniversalBank -->
  <link href="https://fonts.googleapis.com/css?family=Condiment&display=swap" rel="stylesheet">

  <title>UniversalBank | Home</title>
</head>


<body class="body-login">
  <nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand pt-2" style="font-family: 'Condiment', cursive; font-size: 22px;" href="/"
      href="https://fonts.googleapis.com/css?family=Condiment&display=swap">UniversalBank</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="line-height: 30px; height: 30px;" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- adicionar componentes ao navbar -->
      </ul>
      <form class="form-inline my-2 my-lg-0 my-md-0" action="/home" method="POST">
        <span id='clickableAwesomeFont' data-target="#ModalQrcode" data-toggle="modal"> <i
            class="fas fa-qrcode mr-sm-4 fa-2x pb-2 pt-2 pr-3"></i> </span>

        <i class="fas fa-user-astronaut mr-sm-4 fa-2x pb-2 pt-2"></i> <!-- Astronaut FontAwesome icon -->
        <input type="Login" class="form-control mr-sm-2" id="InputLogin" aria-describedby="LoginHelp"
          placeholder="Login" required="" name="CPF">
        <input type="password" class="form-control mr-sm-2" id="InputPassword" placeholder="Senha" inputmode="numeric"
          size="20" required title="Insira sua senha de 5 caracteres." name="Senha">
        <button class="btn btn-outline-light my-2 btn-auto" type="submit">Entrar</button>
      </form>
    </div>
  </nav>
  <!-- Modal -->
  <div class="modal fade" id="ModalQrcode" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle" style="color:black">Escaneie o QrCode!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="qrcodeDiv" style="display: block; margin-left: auto; margin-right: 32%; width: 50%;">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <section class="container p-4 mx-sm-2 mx-md-3 mx-lg-4 mx-xl-5">
    <div class="row">
      <div class="col-5" id="headingGroup">
        <h2 class="pb-1 pt-3" style="font-size: 22px;">Bem-vindo ao</h2>
        <h1 class="bank-name" style="font-family: 'Condiment', cursive; font-size: 59px;"
          href="https://fonts.googleapis.com/css?family=Condiment&display=swap">UniversalBank</h1>
        <a href="/cadastro"><button class="btn btn-outline-light my-2" type="submit">Abra a sua Conta!</button></a>
      </div>
    </div>
  </section>

  <div class="row justify-content-center col-lg-12 pb-4">
    <div class="login-card card text-white bg-dark ml-4" style="width: 22rem; height: 9.5rem;">
      <div class="card-body">
        <p class="card-text pt-1">Baixe o APP e abra sua conta pelo celular!</p><br>
        <p class="text-center">
          <a href="#" class="btn btn-primary btn-custom">
            <span class="glyphicon glyphicon-play img-circle text-primary btn-icon mr-2"></span>
            Go to PlayStore
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="container pt-5" style="font-size: 22px;">
    <div id="carouselContent" class="carousel slide pt-4" data-ride="carousel">
      <div id="headingGroup1" class="carousel-inner" role="listbox">
        <div class="carousel-item active text-center p-2">
          <p>Gerencie seus gastos Online!</p>
        </div>
        <div class="carousel-item text-center p-2">
          <p>Administre suas despesas com cartão, transferências e mais!</p>
        </div>
        <div class="carousel-item text-center p-2">
          <p>Abra sua conta agora! no App ou na Web.</p>
        </div>
        <div class="carousel-item text-center p-2">
          <p>Faça parte do UniversalBank abrindo a sua conta e utilize nosso Cartão.</p>
        </div>
      </div>
      <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="js/qrcode.min.js"></script>

  <!-- Script para gerar o QRCODE-->
  <script>
    //new QRCode(document.getElementById("qrcodeDiv"),"teste123");
  </script>
  <script>
    $(document).ready(function () {
      initiate();
    });
    function initiate() {
      if ("WebSocket" in window) {
        var host = location.origin.replace(/^http/, 'ws')
        var ws = new WebSocket(host);
        var CodQrCode;
        ws.onopen = function () {
          var data = { message: 'Conectando' }
          ws.send(JSON.stringify(data));
        };
        ws.onmessage = function (evt) {
          var dataObj = JSON.parse(evt.data);
          console.log('recebi: ' + evt.data);
          if (dataObj.message == 'Home') {
            CodQrCode = dataObj.token;
            new QRCode(document.getElementById("qrcodeDiv"), dataObj.token);

            var data = { userId: 1, message: 'Entrando' }
            ws.send(JSON.stringify(data));
            //post('/home',{userId: 1});

          }
          if(dataObj.message == 'QrCode'){
            if(CodQrCode === dataObj.QRCode){
              if (typeof data.userId !== "undefined"){
                post('/home',{userId:data.userId})
              }else{
                console.log('userid não informado.')
              }
            }else{
              console.log('qrcode não compativel: '+dataObj.QRCode)
            }
          }
        };
        ws.onclose = function () {
          console.log("Connection is closed...");
        };
      } else {
        alert("WebSocket NOT supported by your Browser!");
      }
    }

    function post(path, params, method = 'post') {
      const form = document.createElement('form');
      form.method = method;
      form.action = path;

      for (const key in params) {
        if (params.hasOwnProperty(key)) {
          const hiddenField = document.createElement('input');
          hiddenField.type = 'hidden';
          hiddenField.name = key;
          hiddenField.value = params[key];

          form.appendChild(hiddenField);
        }
      }
      document.body.appendChild(form);
      form.submit();
    }

  </script>
</body>

</html>