<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Universal Bank</title>
</head>

<body>
    <%= message %>
</body>
<script>   setTimeout(function () {          window.location = "/";   }, 2000) </script>
</html>