<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!-- CDN JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <!-- CDN Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CDN JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Link para o arquivo CSS -->
    <link rel="stylesheet" type="text/css" href="/screens.css">

    <!-- Google font para o UniversalBank -->
    <link href="https://fonts.googleapis.com/css?family=Condiment&display=swap" rel="stylesheet">

    <script
        src="https://rawcdn.githack.com/tobiasmuehl/instascan/4224451c49a701c04de7d0de5ef356dc1f701a93/bin/instascan.min.js"></script>
    <script>
        var idCamera = 0;
        var quantidadeCam = 0;
        let scanner;
        let scanner1;
        function scan() {
            scanner = new Instascan.Scanner({ video: document.getElementById('webcam') });
            scanner.addListener('scan', function (content) {
                alert(content);
                console.log(content);
                //qrContent = content;
                enviaQrcode(content);
            });
            Instascan.Camera.getCameras().then(function (cameras) {

                if (cameras.length > 0) {
                    quantidadeCam = cameras.length;
                    console.log(cameras);
                    scanner.start(cameras[idCamera]);

                } else {
                    console.error('No cameras found.');
                }
            }).catch(function (e) {
                console.error(e);
            });
        }
        function next() {
            scanner.stop();
            if (typeof scanner1 !== 'undefined')
                scanner1.stop();
            scanner1 = new Instascan.Scanner({ video: document.getElementById('webcam') });
            scanner1.addListener('scan', function (content) {
                alert(content);
                console.log(content);
                enviaQrcode(content);
            });
            Instascan.Camera.getCameras().then(function (cameras) {

                idCamera++;

                if (idCamera + 1 > quantidadeCam) {
                    idCamera = 0;
                }
                console.log(cameras);
                scanner1.start(cameras[idCamera]);
            }).catch(function (e) {
                console.error(e);
            });
        }
        function enviaQrcode(qrcode) {
            console.log('enviaqrcode: ' + qrcode)
            if ("WebSocket" in window) {
                var host = location.origin.replace(/^http/, 'ws')
                var ws = new WebSocket(host);
                //var user = document.getElementById('mydiv').innerHTML;
                console.log(user);
                ws.onopen = function () {
                    var data = { message: 'Qrcode', data: qrcode, userId: user }
                    ws.send(JSON.stringify(data));
                };
                // ws.onmessage = function (evt) {
                //     var dataObj = JSON.parse(evt.data);
                //     console.log('recebi: ' + evt.data);
                //     if (dataObj.message == 'Home') {
                //         new QRCode(document.getElementById("qrcodeDiv"), dataObj.token);

                //         var data = { userId: 1, message: 'Entrando' }
                //         ws.send(JSON.stringify(data));
                //         //post('/home',{userId: 1});

                //     }
                // };
                ws.onclose = function () {
                    console.log("Connection is closed...");
                };
            } else {
                alert("WebSocket NOT supported by your Browser!");
            }
        }
        document.getElementById("enviaButton").onclick = function () { enviaQrcode(qrContent); }

    </script>

    <title>UniversalBank | Minha Conta</title>
</head>

<body>
    <div id="mydiv" style="display: none;"><%= info.userId %></div>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" style="font-family: 'Condiment', cursive; font-size: 22px;" href="/home"
            href="https://fonts.googleapis.com/css?family=Condiment&display=swap">UniversalBank</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="line-height:30px; height:30px;" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto pl-5">
                <!-- PARA ADICIONAR MAIS BOTÕES AO NAVBAR -->
                <li class="nav-item pl-2">
                    <a class="nav-link" href="/home/myCardScreen">Saldo & Cartão</a>
                </li>
                <li class="nav-item pl-2">
                    <a class="nav-link" href="/home/transfScreen">Transferência</a>
                </li>
                <li class="nav-item pl-2">
                    <a class="nav-link" href="/home/sustentabScreen">Sustentabilidade</a>
                </li>
                <li class="nav-item pl-2">
                    <a class="nav-link" href="/home/dashGastos">Gerenciamento</a>
                </li>
                <li class="nav-item pl-2">
                    <a class="nav-link" href="/home/dashCotacao">Cotação</a>
                </li>
                <li class="nav-item pl-2">
                    <a class="nav-link" data-target="#modalExemplo" data-toggle="modal" href="#modalExemplo"
                        onclick="scan()">QrCode</a>
                </li>
                <li class="nav-item pl-2">
                    <a class="nav-link active" href="/home/premiumScreen">PREMIUM</a>
                </li>

            </ul>
            <a href="#" data-toggle="modal" data-target="#myModal" id="btn exit btn-exit"
                class="btn btn-exit btn-outline-light">Sair</a>
        </div>
    </nav>
    <!--
        Camera QrCode

    -->
    <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" style="width: 1250px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Scan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <video id="webcam"></video>
                    <hr>
                    <button onclick="next()">Proxima câmera</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirmação que é executada quando clica no botão Sair -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="color: black;">Sair</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style="color: black;">
                    <p>Deseja realmente sair?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>
                    <form action="/" method="POST">
                        <button class="btn btn-secondary" type="submit">Sim</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row pl-4">
            <div class="col-lg-4 col-md-6 pt-4">
                <div class="card" id="card-opacity" style="width: 18rem; border-color: black; border-width: 3px;">
                    <!-- Card de Meu Cartão -->
                    <img src="myAccountImages/sol.jpg" class="card-img-top" alt="..." style="height: 13rem;">
                    <div class="card-body">
                        <a href="/home/myCardScreen" class="btn btn-outline-dark card-title"
                            style="color: black; font-weight: 700;">Meu Cartão</a>
                        <p class="card-text" style="color: black;">Consulte seu limite no cartão, saldo e mais.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 pt-4">
                <div class="card" style="width: 18rem; border-color: black; border-width: 3px;">
                    <!-- Card de Extrato -->
                    <img src="myAccountImages/lua.jpg" class="card-img-top" alt="..." style="height: 13rem;">
                    <div class="card-body">
                        <a href="/home/myExtrato" class="btn btn-outline-dark card-title"
                            style="color: black; font-weight: 700;">Extrato</a>
                        <p class="card-text" style="color: black;">Histórico de entrada e saída de dinheiro da sua
                            conta.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 pt-4">
                <div class="card" style="width: 18rem; border-color: black; border-width: 3px;">
                    <!-- Card de Transferências -->
                    <img src="myAccountImages/marte.jpg" class="card-img-top" alt="..." style="height: 13rem;">
                    <div class="card-body">
                        <a href="/home/transfScreen" class="btn btn-outline-dark card-title"
                            style="color: black; font-weight: 700;">Transferências</a>
                        <p class="card-text" style="color: black;">Faça transferências sem pagar taxas adicionais.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 pt-4">
                <div class="card" style="width: 18rem; border-color: black; border-width: 3px;">
                    <!-- Card de Sustentabilidade -->
                    <img src="myAccountImages/jup.jpg" class="card-img-top" alt="..." style="height: 13rem;">
                    <div class="card-body">
                        <a href="/home/sustentabScreen" class="btn btn-outline-dark card-title"
                            style="color: black; font-weight: 700;">Sustentabilidade</a>
                        <p class="card-text" style="color: black;">Suas contribuições para o meio ambiente com a
                            UniversalBank.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 pt-4">
                <div class="card" style="width: 18rem; border-color: black; border-width: 3px;">
                    <!-- Card de Gerenciamento Financeiro -->
                    <img src="myAccountImages/plut.jpg" class="card-img-top" alt="..." style="height: 13rem;">
                    <div class="card-body">
                        <a href="/home/dashGastos" class="btn btn-outline-dark card-title"
                            style="color: black; font-weight: 700;">Gerenciamento Financeiro</a>
                        <p class="card-text" style="color: black;">Saiba como você gasta o dinheiro e gerencie os seus
                            gastos.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 pt-4">
                <div class="card" style="width: 18rem; border-color: black; border-width: 3px;">
                    <!-- Card de Cotação -->
                    <img src="myAccountImages/ura.jpg" class="card-img-top" alt="..." style="height: 13rem;">
                    <div class="card-body">
                        <a href="/home/dashCotacao" class="btn btn-outline-dark card-title"
                            style="color: black; font-weight: 700;">Cotação</a>
                        <p class="card-text" style="color: black;">Veja a cotação diária do dólar e euro atualizadas
                            diariamente.</p>
                    </div>
                </div>
            </div>
            <p style="color: rgb(17, 17, 71); font-size:10px;">.</p>
        </div>
    </div>
    <script>var user = document.getElementById('mydiv').innerHTML;</script>
</body>

</html>